h1, h2, h3, h4, h5, h6 {color:#6f3da1;}

hr { 
  display: block;
  border-width: 1px;
  border-color: black;
} 

header {
  font-family: Arial;
  font-size: 12px;
}

footer {
  font-family: Arial;
  font-size: 12px;
}

blockquote { 
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #ffffee;
  font-family: monospace;
  font-size: 12px;
  line-height: 190%;
}



table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ffffee;
  padding: 2px;
  font-family: monospace;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ffffee;
  padding: 2px;
  color: blue;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ffffee;
padding: 2px;
}

body {
	line-height: 190%;
	padding-left: 50px;
	font-family: Arial;
}
